/*--------------------------------navigation bar--------------------------------*/
* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #181824;
    overflow-x: hidden;
}

.navbar {
    height: 80px;
    width: 100%;
    padding-top: 10px;
    background-color: #181824;
}

.navbar ul {
    z-index: 1;
    float: right;
}

.navbar ul li {
    display: inline;
    line-height: 80px;
}

.checkbutton {
    display: none;
    font-size: 30px;
    color: #ea366f;
    float: right;
    line-height: 80px;
    padding-right: 10px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 768px) {
    .navbar ul li a{
        font-size: 13px;
    }
}

@media (max-width: 480px) {
    .navbar ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #181824;
        text-align: center;
        right: -100%;
        transition: all 0.5s;
    }

    .navbar ul li {
        display: block;
    }

    .checkbutton {
        display: block;
    }

    .checkbutton:hover {
        color: #14cfb3;
    }

    #check:checked ~ ul {
        right: 0;
    }

}

.navbar a {
    position: relative;
    color: #ea366f;
    padding: 15px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: large;
}

.navbar a:hover { /*pseudoclass selector*/
    color: #14cfb3;
  }

  
.navbar a::after { /*pseudoelement selector*/ /*underlines hovered link in navbar*/
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: #14cfb3;
    transition: width 0.3s ease; /*transition effect*/
}
  
.navbar a:hover::after {
    width: 100%; /*expands line on hover*/
}

#no-underline::after {
    display: none; /*for logo in navbar*/
}


/*--------------------------------section--------------------------------*/
section {
    z-index: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(-135deg, #ea366f, #181824, #14cfb3);
    background-size: 400% 400%;
    position: relative;
    animation: change 10s ease-in-out infinite;
}

@keyframes change {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

@keyframes changeinvert {
    0% {
        color: #fa5489;
    }
    25% {
        color: #fa5489;
    }
    50% {
        color: #ffffff;
    }
    75% {
        color: #14cfb3;
    }
    100% {
        color: #14cfb3;
    }
}

#welcome {
    height: 100vh;
}

#about, #work, #contact {
    height: 100vh;
    background-color: #181824;
}

/*--------------------------------welcome--------------------------------*/
#welcome > h1 {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    position: absolute;
    text-align: center;
    font-size: 40px;
    padding-top: 20%;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 30%;
}

@media (max-width: 480px) {
    #welcome > h1 {
        font-size: 25px;
    }
    
    #welcome > .title > .bold {
        font-size: 35px;
    }
}

.bold {
    font-weight: 600;
    font-size: 50px;
    animation: changeinvert 5s infinite alternate;
}

/*--------------------------------about--------------------------------*/
#about > h1 {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 40px;
    padding-top: 80px;
}

#about > .container {
    padding-top: 50px;
    display: flex;
    overflow: hidden;
}

#about > .container > .description {
    padding-left: 80px;
    padding-right: 80px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    display: flex;
    align-items: center;
}

@keyframes breathe {
    0% { transform: scale(1); }
    50% { transform: scale(1.02); }
    100% { transform: scale(1); }
  }

.skills-image img {
    height: 590px;
    width: auto;
    animation: breathe 4s infinite alternate;
    padding-left: 80px;
    padding-right: 80px;
}

@media (max-width: 1024px) {
    #about > .container {
      flex-direction: column;
      padding-right: 20px;
      padding-left: 20px;
    }
  
    .description, .skills-image {
      flex: none; 
      width: 100%; 
      text-align: center;
    }

    .skills-image img {
        width: 590px;
        height: auto;
    }
}

@media (max-width: 480px) {
    .skills-image img {
        padding-left: 0;
        padding-right: 0;
        width: 70%;
        height: auto;
    }
}

@media (max-width: 768px) {
    #about > .container > .description {
        padding-left: 20px;
        padding-right: 20px;
        font-size: 10px;
        line-height: 20px;
    }

    #about > h1 > .bold{
        font-size: 35px;
    }

    .skills-image img {
        padding-left: 0;
        padding-right: 0;
        width: 70vw;
        height: auto;
    }
}

@media (min-width: 1201px) {
    #about > .container > .description {
        padding-left: 40px;
        padding-right: 40px;
        font-size: 20px;
        line-height: 40px;
    }
}

@media (max-width: 1200px) {
    .skills-image img {
        padding-left: 30px;
        padding-right: 30px;
        width: 430px;
        height: auto;
    }
}

/*--------------------------------work--------------------------------*/
#work > h1 {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 40px;
    padding-top: 80px;
}

@media (max-width: 768px) {
    #work {
        padding-top: 0;
    }
    #work > h1 > .bold{
        font-size: 35px;
    }
}

/*--------------------------------contact--------------------------------*/
#contact > h1 {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 40px;
    padding-top: 80px;
}

#contact > .container > .description {
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 5%;
    padding-bottom: 20px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    align-items: center;
}

@media (max-width: 768px) {
    #contact {
        padding-top: 50%;
    }
    #contact > h1 > .bold{
        font-size: 35px;
    }

    #contact > .container > .description {
        padding-left: 20px;
        padding-right: 20px;
        font-size: 10px;
        line-height: 20px;
    }
}

.form-container {
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .input-row {
        margin-bottom: 20px;
        width: 100%;
        text-align: center;
    }

    input[type="submit"] {
        height: 40px;
        width: 30%;
        background-color: #181824;
        color: #fa5489;
        font-family: 'Montserrat';
        font-size: 20px;
        font-weight: 500;
        cursor: pointer;
        border: 2px solid #181824;
    }

    input[type="submit"]:hover {
        color: #14cfb3;
        font-weight: 700;
    }

    input[type="text"] {
        width: 100%;
        padding: 10px;
        border: 2px solid #14cfb3;
        border-radius: 5px;
        background-color: #373144;
        color: #ffffff;
        font-family: 'Montserrat';
    }

    input[type="text"]:focus {
        outline: none;
        border-color: #fa5489;
    }

    input[type="text"]::placeholder {
        color: #ffffff; 
        font-family: 'Montserrat';
    }

    input[name="message"] {
        height: 150px;
        padding-top: -30px;
    }

    @media (max-width: 768px) {
        form {
            width: 400px;
            text-align: center;
        }
    }