/*--------------------------------all--------------------------------*/
* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-color: #181824;
}

/*--------------------------------welcome backdrop--------------------------------*/
section {
    z-index: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(-135deg, #ea366f, #181824, #14cfb3);
    background-size: 400% 400%;
    position: relative;
    animation: change 10s ease-in-out infinite;
}

@keyframes change {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

@keyframes changeinvert {
    0% {
        color: #ea366f;
    }
    25% {
        color: #ea366f;
    }
    50% {
        color: #ffffff;
    }
    75% {
        color: #14cfb3;
    }
    100% {
        color: #14cfb3;
    }
}

/*--------------------------------navbar--------------------------------*/
.navbar {
    z-index: 1;
    position: fixed;
    display: flex;
    height: 80px;
    width: 100%;
    background-color: #181824;
}

.navbar ul {
    margin: 0;
}

.navbar ul li {
    display: inline;
    line-height: 80px;
}

.checkbutton {
    z-index: 999;
    /* margin-left: 68%; */
    display: none;
    font-size: 40px;
    color: #ea366f;
    line-height: 80px;
    margin-left: 90%;
    cursor: pointer;
    position: absolute;
}

#check { /* checkbox instead of button when no js */
    display: none;
}

.navbar a {
    position: relative;
    color: #ea366f;
    padding: 15px;
    font-size: 15px;
}

.navbar a:hover {
    color: #14cfb3;
    font-weight: 700;
  }

  
.navbar a::after { /* expands line on hover */
    content: '';
    position: absolute;
    left: 0;
    bottom: -14px;
    width: 0;
    height: 3px;
    background-color: #14cfb3;
    transition: width 0.3s ease;
}
  
.navbar a:hover::after {
    width: 100%; /* keeps underline on click */
}

#no-underline {
    z-index: 999;
}

#no-underline img {
    padding-bottom: 20%;
}

#no-underline::after {
    display: none; /* omit underline effect for logo */
}

#no-underline:hover {
    filter: invert(100%);
}

#about, #projects, #contact {
    height: fit-content;
    background-color: #181824;
}

#footer {
    z-index: -1;
    height: 20vh;
    background-color: transparent;
}

/*--------------------------------welcome--------------------------------*/
#welcome {
    z-index: 1;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    text-align: center;
    line-height: normal;
    position: relative;
    width: 100%; /* fit-content after fixing navbar */
    height: auto;
    padding-top: 45vh;
}

#welcome h1 {
    padding: 10px;
    font-weight: 300;
    font-size: 40px;
}

#welcome h6 {
    font-weight: 300;
    padding: 10px;
    font-size: 20px;
}

.bold {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 50px;
    animation: changeinvert 5s infinite alternate;
}

/*--------------------------------about--------------------------------*/
#about .container {
    display: flex;
    align-items: center;
    justify-content: center;    
    padding-top: 3%;
}

#about h1 {
    color: #ffffff;
    text-align: center;
    font-size: 40px;
    padding-top: 80px;
}

/*--------------------------------skills start--------------------------------*/
/* this is where the overflow incident happens, not the navbar */
#about .skills-images {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 70%;
    margin-left: 60px;
    margin-right: 60px;
}

.skills-images img {
    height: fit-content;
    width: auto;
}

.skills-column {
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.skill {
    position: relative;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.skill img:hover {
    animation: breatheblue 1s forwards;
    /* border: solid 5px #14cfb3;
    border-radius: 20px;
    animation: fadein 1.5s; */
}

.skill-name {
    padding: 10px;
}

.skills-column .skill img {
    width: 90%;
    height: auto;
}
/*--------------------------------skills end--------------------------------*/
/* @keyframes fadein {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 50;
    }
    100% {
        opacity: 100;
    }
} */

#about .container .description {
    /* color: #ffffff;
    font-size: 20px;
    font-weight: 300;
    text-align: justify;
    line-height: 40px;
    display: flex;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    width: 70%; */
    font-size: 20px;
    font-weight: 300;
    text-align: justify;
    line-height: 40px;
    display: flex;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    width: fit-content;
}

@keyframes breatheblue {
    0% {
        transform: scale(1);
        filter: hue-rotate(0deg);
        filter: drop-shadow(0px 0px 5px transparent);
    }
    100% {
        transform: scale(1.1);
        filter: hue-rotate(-120deg);
        filter: drop-shadow(0px 0px 8px #14cfb3);
    }
}

@keyframes breathepink {
    0% {
        transform: scale(1);
        filter: hue-rotate(0deg);
        filter: drop-shadow(0px 0px 5px transparent);
    }
    100% {
        transform: scale(1.1);
        filter: hue-rotate(-120deg);
        filter: drop-shadow(0px 0px 8px #ea366f);
    }
}

@keyframes breathe {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.05);
    }
}

/*--------------------------------projects--------------------------------*/
#projects h1 {
    color: #ffffff;
    font-weight: 300;
    text-align: center;
    font-size: 40px;
    padding-top: 80px;
}

#projects .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 3%;
}

#projects .project-titles {
    text-decoration: underline;
    font-weight: 500;
    font-size: 35px;
    color: #ea366f;
    /* animation: changeinvert 2s infinite alternate; */
}

#projects .project-titles:hover {
    color: #14cfb3;
}

.first-project {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3%;
}

.second-project {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3%;
}

#projects .first-project .description {
    font-size: 20px;
    font-weight: 300;
    text-align: justify;
    line-height: 40px;
    display: flex;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    width: fit-content;
}

#projects .second-project .description {
    font-size: 20px;
    font-weight: 300;
    text-align: justify;
    line-height: 40px;
    display: flex;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    width: fit-content;
}

.first-project .project-image {
    order: 1;
}

#projects .first-project .description {
    order: 2;
}

.project-image {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 6%;
    margin-bottom: 2%;
}

.project-image img {
    width: 90%;
}

.project-image img:hover {
    animation: breathe 1s forwards;
}

/*--------------------------------contact--------------------------------*/
#contact h1 {
    color: #ffffff;
    font-weight: 300;
    text-align: center;
    font-size: 40px;
    padding-top: 80px;
}

#contact .container .description {
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 5%;
    padding-bottom: 20px;
    color: #ffffff;
    font-weight: 300;
    font-size: 20px;
    line-height: 40px;
    text-align: center;  
    align-items: center;
}

.form-container {
    width: 550px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
}

.input-row {
    margin-bottom: 20px;
    width: 100%;
}

.input-row input[type="submit"] {
    height: 40px;
    width: 65%; 
    background-color: #181824;
    color: #fa5489;
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    border: 2px solid #181824;
    text-align: center;
    display: block;
    margin: 0 auto; /* input elements are inline and need to be block type before centering */
}

input[type="submit"]:hover {
    color: #14cfb3;
    font-weight: 700;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 2px solid #14cfb3;
    border-radius: 5px;
    background-color: #373144;
    color: #ffffff;
    font-family: 'Montserrat';
}

input[type="text"]:focus {
    outline: none;
    border-color: #fa5489;
}

input[type="text"]::placeholder {
    color: #ffffff; 
    font-family: 'Montserrat';
}

/*
input[name="message"] {
    height: 100px;
    padding: 18px 0px 180px 9px;
}

input[name="message"]::placeholder {
    color: #ffffff; 
    font-family: 'Montserrat';
    top: 0;
    padding-top: 10px;
    padding-bottom: 5px;
    position: absolute;
}
*/

textarea {
    resize: none;
    height: 100px;
    padding: 10px 0px 180px 9px;
    width: 100%;
    border: 2px solid #14cfb3;
    border-radius: 5px;
    background-color: #373144;
    color: #ffffff;
    font-family: 'Montserrat';
}

textarea::placeholder {
    color: #ffffff; 
    font-family: 'Montserrat';
    /* top: 0;
    padding-top: 10px;
    padding-bottom: 5px;
    position: absolute; */
}

textarea:focus {
    outline: none;
    border-color: #fa5489;
}

.container-icon {
    display: flex;
    justify-content: center;
    align-items: center
}

#trex-icon img {
    display: flex;
    width: 150px;
    height: auto;
}

#trex-icon img:hover{
    filter: invert(100%);
}

/*--------------------------------footer--------------------------------*/
.footer-images img {
    width: 50px;
    height: auto;
}

.footer-images {
    text-align: center;
}

#footer {
    height: 100px;
}

#footer .footer-text{
    text-align: center;
    color: #ffffff;
    text-align: center;
    font-size: 15px;
    padding: 20px;
}

.footer-bold {
    font-weight: 800;
}

#backdrop-footer {
    width: 100%;
    height: 145px;
}

/*--------------------------------media queries--------------------------------*/
@media (min-width: 481px) {
    .skills-column {
        padding: 20px;
        width: 130px;
    }
}

@media (max-width: 480px) {
    .navbar ul {
        padding-top: 80px;
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #181824;
        text-align: center;
        right: -100%;
        transition: all 0.5s;
    }

    .navbar ul li {
        display: block;
    }

    .checkbutton {
        display: block;
    }

    .checkbutton:hover {
        color: #14cfb3;
    }

    #check:checked ~ ul {
        padding-top: 80px;
        right: 0;
    }
    .form-container form {
        width: 300px;
    }
    .form-container {
        width: 100vw;
        margin: 0 auto;
    }
    input[type="submit"] {
        width: 50vw;
    }
    .input-row {
        margin-bottom: 15px;
        width: 100%;
    }
    #submit-button {
        font-size: 15px;
    }
    #welcome h1 {
        font-size: 32px;
    }
    #welcome .subtitle {
        font-size: 17px;
    }
    #welcome .title .bold {
        font-size: 35px;
    }
    .skill {
        padding: 5px;
    }
    .skills-column {
        padding: 10px;
        width: 100px;
    }
} 

@media (max-width: 768px) {
    #about .container .description {
        padding-left: 20px;
        padding-right: 20px;
        font-size: 15px;
        font-weight: 300;
        line-height: 20px;
    }
    #projects .container .description {
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 3%;
        font-size: 15px;
        font-weight: 300;
        line-height: 20px;
    }
    #projects .project-titles {
        font-size: 20px;
    }
    #about h1 .bold{
        font-size: 35px;
    }
    #projects {
        padding-top: 0;
    }
    #projects h1 .bold{
        font-size: 35px;
    }
    #contact {
        padding-top: 0;
    }
    #contact h1 .bold{
        font-size: 35px;
    }
    #contact .container .description {
        padding-left: 20px;
        padding-right: 20px;
        font-size: 15px;
        font-weight: 300;
        line-height: 20px;
    }

    .form-container form {
        width: 60vw;
        margin: 0 auto;
    }
    .form-container {
        width: fit-content;
        align-items: center;
    }
    textarea {
        height: 50px;
        /* padding: 18px 0px 150px 9px; */
    }
}

@media (max-width: 1024px) {
    #about .container {
        flex-direction: column;
        padding-right: 20px;
        padding-left: 20px;
    }
    #projects .container {
        flex-direction: column;
        padding-right: 20px;
        padding-left: 20px;
    }
    .first-project {
        flex-direction: column;
        padding-right: 20px;
        padding-left: 20px;
        margin-bottom: 40px;
    }
    .second-project {
        flex-direction: column;
        padding-right: 20px;
        padding-left: 20px;
    }
    #projects .first-project .project-image {
        order: 2;
    }
    
    #projects .first-project .description {
        order: 1;
    }
    .description {
        flex: none; 
        width: 100%; 
        text-align: center;
    }
}
@media (min-width: 1200px) {
    .skills-column {
        padding: 40px;
        width: 200px;
    }
    .skills-images img {
        width: 200px;
    }
}

::-webkit-scrollbar {
    width: 13px;
}
  
::-webkit-scrollbar-track {
    background: transparent;
}
  
::-webkit-scrollbar-thumb {
    background: #ea366f;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #14cfb3;
}